

.header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    height: 34px;
    position: relative;

}
.container{
    margin: 0 0 0 940px;
    display: flex;
    align-content: center;
    
}
.menu { 
    height: inherit;
  }
.header ol {
    display: flex;
    list-style: none;
    height: inherit;
    
  }
  .header ol li { 
    height: inherit;
  }
.header a{
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.search{
    
    height: 490px;
    
}
.search-container{
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 0 450px;
}
.search-container img, input{
    display: inherit;
    margin: 10px 0;
}
.search-container input{
    
    width: 500px;
    border: 2px solid #cec0c0;
    height: 30px;
    border-radius: 15px;
}

}
.gogleApps{
   
    height: 30px;
}
.usuarioimg{
    border: 1px solid red;
    border-radius: 15px;
    height: 30px;
    position: relative;
    overflow: hidden;
  
}
.usuarioimg img{
    object-fit: cover;
}
.footer{
    border: 1px solid #cec0c0;
    background: #f0ebeb;
    height: 90px;
    color: #726d6d;
}
.footer p a {
    text-decoration: none;
    
}
.footer a{
    margin: 10px;
}